[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/r-plugin"]
	path = bundle/r-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule "bundle/jedi-completion"]
	path = bundle/jedi-completion
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/julia-plugin"]
	path = bundle/julia-plugin
	url = https://github.com/JuliaLang/julia-vim.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "bundle/solarized-theme"]
	path = bundle/solarized-theme
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/ipython-plugin"]
	path = bundle/ipython-plugin
	url = https://github.com/ivanov/vim-ipython.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/sleuth"]
	path = bundle/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "bundle/git-support"]
	path = bundle/git-support
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = http://github.com/vim-airline/vim-airline.git
